/*-------------------------------------------------*/
/* 1. MOBILE VIEW RESPONSIVE
/*-------------------------------------------------*/

/*-------------------------------------------------------*/
/* When the browser is 1200px to all small screens,below css will be applied.
/*-------------------------------------------------------*/
@media screen and (max-width: 1200px) {
  .nav-inner .side-bar-right a {
    padding: 15px 25px;
  }
  .nav-inner .side-bar-right .theme-btn span {
    font-size: 13px;
  }
  .team-member:before {
    opacity: 0;
  }

  .clint-img {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

/*-------------------------------------------------------*/
/* When the browser is 992 to all small screens,below css will be applied.
/*-------------------------------------------------------*/

@media screen and (max-width: 992px) {
  
  .customization .customization-text{
    padding-left: 0;
}
  .client-logo-wrap1 .client-logo li{width: 200px;}
  .client-logo-wrap1 .client-logo img{height: 360px;}
  .post-content-1{padding-left: 20px;}
  .interactive-ctn .container{max-width: 720px;}
  
  .media-video::before{ 
    height: 92%;
    top: 50px;}
  .text1::before {
    display: none;
  }
  .text img {
    width: 60px;
    height: 60px;
  }
  .text-loop a {
    font-size: 29px;
  }
  .text-loop {
    padding-bottom: 0;
  }
  .ban-lhs h1::after {
    display: none;
  }
  .blg-search input {
    width: 100%;
  }
  .blog-left-img {
    flex-direction: column;
  }
  .blog-left-img img {
    margin: 5px 0 6px 0;
  }
  .case-studies {
    padding-top: 50px;
  }
  .bridge-text p {
    margin: 0;
  }
  .generator {
    padding-bottom: 85px;
  }
  .generator .theme-btn {
    margin-top: 50px;
  }
  .nav-inner .side-bar-right a {
    display: none;
  }
  .nav-inner .side-bar-right {
    width: auto;
  }
  .client-logo-left {
    animation: logomoveleft 10s linear infinite;
  }
  .cpy-right h3 {
    text-align: center;
    font-size: 12px;
  }
  .move-elemets {
    left: 0;
  }
  .interactive-ctn {
    padding-top: 0;
  }
  .the-bridge {
    padding-bottom: 60px;
    padding-top: 0;
  }
  .generator-img img {
    height: 400px;
    border-radius: 0;
  }
  .matter-pills {
    margin-top: 70px;
    padding-right: 0;
  }
  .customization {
    padding-bottom: 20px;
  }
  .client-logo-wrap {
    padding-top: 115px;
    padding-bottom: 0;
  }
  .generator-img {
    width: 100%;
  }
  .content {
    width: 100%;
    border-radius: 0;
    padding: 32px;
  }
  .media-video {
    margin-top: 70px;
  }
  
  .case-studies-main ul {
    flex-direction: column;
  }
  .case-studies-main li {
    float: left;
    margin-bottom: 14px;
    width: 100%;
  }
  .case-studies-img img {
    float: left;
    width: 100%;
  }
  .case-studies-main {
    float: left;
    width: 100%;
  }
  .text {
    font-size: 40px;
    line-height: 57px;
  }
  .why-choose-inner {
    padding: 0;
  }
  .why-choose-inner h2 {
    font-size: 43px;
    line-height: 53px;
    position: relative;
    z-index: 1;
  }
  .avatars {
    display: none;
  }
  .why-choose {
    padding-top: 0;
    padding-bottom: 44px;
  }
  .why-choose-inner p {
    font-size: 16px;
    line-height: 25px;
    padding-top: 10px;
  }
  .video-banner {
    width: 100%;
    transform: none;
    transform: scale(1.1);
    left: 0;
  }
  .banner .ban-lhs {
    margin-top: 0;
    margin-bottom: 59px;
  }
  .blg-lhs {
    padding-right: 15px !important;
  }
  .footer {
    padding: 90px 0 70px 0;
  }
  .con-det::before {
    border: 19px solid #cde0ef;
  }
  .contact-us::before {
    width: 300px;
    height: 400px;
    opacity: 0.1;
  }
  .testimonial {
    padding-bottom: 0;
  }

  .testimonial-img {
    margin: 0;
  }
  .contact-us {
    padding: 50px 0 0 0;
  }

  .team-name {
    padding-top: 30px;
  }

  .team-img img {
    height: auto;
  }

  .post-left {
    margin-top: 0;
  }

  .post-right li {
    margin-bottom: 30px;
  }

  .our-team {
    padding-bottom: 30px;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .followers {
    margin-bottom: 30px;
  }

  .ser-inner {
    padding: 0;
  }

 
  .menu a:hover {
    color: #fff;
  }

 

  .side-bar.act {
    width: 100%;
  }

  .nav .row {
    align-items: center;
  }

  .nav {
    background: #fff;
    padding: 35px 0;
  }

  .side-bar-right i {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }

  .logo img {
    max-width: 128px;
  }

  .nav-inner .menu {
    position: fixed;
    left: -500px;
    top: 0;
    overflow-y: auto;
    height: 100vh;
    width: 300px;
    background: #16243d;
    padding: 31px 20px 20px 20px;
    z-index: 99;
    transition: all 0.5s ease;
  }

  .menu ul li:first-child {
    display: block;
  }

  .menu li {
    width: 100%;
    padding-bottom: 13px;
  }

  .menu a {
    color: #fff !important;
    width: 100%;
    border-bottom: 1px solid #908484;
    padding-bottom: 17px;
  }

  .menu img {
    width: 120px;
    filter: invert(1);
    margin-bottom: 24px;
  }

  .menu ul li:last-child {
    border: 0;
  }

  .nav-inner .side-bar-right {
    position: absolute;
    right: 15px;
  }

  .logo {
    position: absolute;
    transform: scale(0.8);
  }

  .menu-bar {
    display: block;
    position: absolute;
    left: 15px;
  }

  .menu ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu span {
    position: absolute;
    right: 20px;
    top: 0;
    background: red;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    cursor: pointer;
  }

  .menu.menuact {
    left: 0;
  }


  .blog-det-inn h3 {
    padding: 15px 0 18px 0;
  }

  .blg-rhs {
    margin-top: 60px;
  }

  .blog-deatiles {
    padding: 90px 0 70px 0;
  }

  .img-aera {
    margin-top: 50px;
  }

  .cpy-right-top .cpy {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 10px 0;
  }

  .foo-deati {
    margin-top: 10px;
  }

  .team-member {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .ban-inn {
    display: block;
    text-align: center;
  }

  .banner .ban-lhs .theme-btn {
    justify-content: center;
    margin-top: 30px;
  }

  .ban-lhs h1 {
    padding: 0;
    font-size: 60px;
    line-height: 60px;
  }

  .ban-lhs p {
    border-left: 0;
    padding-right: 0;
    padding-bottom: 25px;
    padding-left: 0;
  }

  .banner {
    padding-bottom: 70px;
    padding-top: 145px;
  }

  .post-right {
    margin-top: -16px;
  }

  .small-img img {
    width: 100%;
  }
  .con-det {
    margin-top: 25px;
    padding: 30px;
  }
}

/*-------------------------------------------------------*/
/* When the browser is 768px to all small screens,below css will be applied.
/*-------------------------------------------------------*/

@media screen and (max-width: 767px) {
  .move-elemets{margin: 0 10px;}
  .interactive-ctn .container{max-width: 100%;padding: 0 15px;}
  .media-video{margin-top: 35px;}
  .media-video::before{top: 35PX;}
  .theme-btn span{font-size: 14px;}
  .contact-info-lhs i {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 20px !important;
    border-radius: 10px;
  }
  .contact-info-lhs span {
    font-size: 14px;
  }
  .theme-btn a {
    padding: 23px 35px;
  }
  .generator .theme-btn a {
    padding: 23px 30px;
  }
  .bridge-text h2 {
    font-size: 50px;
    line-height: 59px;
  }
  .content h3,
  .content b {
    font-size: 30px;
  }
  .tag-lhs .point {
    margin: 5px 10px 9px 10px;
    display: inline-block;
  }
  .section-title img {
    margin-left: 30px;
  }
  .section-title h2 {
    font-size: 30px;
    line-height: 39px;
  }

  .plac-gal-imag {
    width: 100%;
  }

  .banner .ban-lhs {
    padding: 0 0 0 0;
  }
  .ban-lhs h1 {
    font-size: 50px;
    line-height: 52px;
  }
  .ban-lhs p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    padding-top: 20px;
  }

  .ban-inn {
    padding: 0 10px;
  }
  .tab-showcase {
    display: block;
  }
  .commen-banner {
    padding: 164px 0 92px 22px;
  }

  .ban-lhs h1::before {
    display: none;
  }


  .tag-share {
    justify-content: flex-start;
    margin-top: 20px;
  }

  .tags-share {
    flex-direction: column;
  }

  .foo-deati a {
    padding-left: 0;
  }

  .foo-deati {
    margin-top: 30px;
  }

  .post-content {
    padding: 25px;
  }
}

/*-------------------------------------------------------*/
/* When the browser is 576px to all small screens,below css will be applied.
/*-------------------------------------------------------*/
@media screen and (max-width: 576px) {
  .contact-info-lhs li{display: flex;}
  .post-left img {
    height: 400px;
    width: 100%;
  }

  .contact-following {
    display: none;
  }

  .ban-lhs h1::before {
    display: none;
  }



  .section-title {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .our-team {
    padding-top: 35px;
  }

  .blog-post {
    padding-top: 56px;
    padding-bottom: 25px;
  }

  .testimonial {
    text-align: center;
    padding-top: 30px;
  }

  .footer {
    padding-top: 70px;
    padding-bottom: 27px;
  }

  .post-right li {
    flex-direction: column;
  }

  .post-content-1 {
    padding: 20px 0 0 0;
  }
}

@media screen and (max-width: 480px) {
  .generator .theme-btn a{padding: 20px;}
  .generator .theme-btn span{font-size: 14px;}
  .theme-btn img {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
  }
  .blg-in-comment {
    padding: 25px;
    border: 1px solid #000;
    text-align: center;
  }
  .blg-in-comment li {
    width: 100% !important;
    padding: 0 !important;
    margin-bottom: 14px;
  }

 
  .ban-lhs h1 {
    font-size: 50px;
    line-height: 52px;
  }

  .banner .ban-lhs .theme-btn {
    flex-direction: column;
  }

  .theme-btn .bg-none {
    margin-top: 25px;
  }

  .abt-text i {
    font-size: 23px;
    text-align: left;
  }
